@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

/* Privacy policy */

.privacy{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000033;
    width: 60%;
    margin: auto;
}

.privacy-policy{
    margin: 30px;
    color: white;
    font-size: 32px;
    font-family: 'Jost', sans-serif;
}

.privacy-para{
    margin: 0px 30px;
    color: white;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    padding-bottom: 40px;
}