@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Navigation */
header {
    background-color: white;
}

ul {
    list-style-type: none;
}

.logo{
    width: 190px;
    min-height: 80px;
}
.navbar {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.nav-menu {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 60px;
}


.nav-link {
    margin: 0px 10px 0px 10px;

    /* Text-edit */
    text-decoration: none;
    font-size: 1.2rem;

    /* color */
    color: rgb(0, 0, 0);
    transition: 0.2s ease;
}

.nav-link:hover {
    color: rgb(187, 187, 187);
    font-size: 1.3rem;
}

.login-btn {
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(45, 172, 231);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.login-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

/* MAIN */
main {
    min-height: 620px;
    background-image: url(/img/mock.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.para {

    padding: 30px 80px;
    line-height: 1.2;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.start-now {
    cursor: pointer;
    font-size: 15px;
    font-family: Arial;
    width: 140px;
    height: 50px;
    border-width: 1px;
    color: #fff;
    border-color: #84bbf3;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    text-shadow: inset 0px 1px 0px #528ecc;
    background: linear-gradient(#79bbff, #378de5);
}

.start-now:hover {
    background: linear-gradient(#378de5, #79bbff);
}

/* MAIN-END */


/* Navigation-End */
#section-1,
#section-2 {
    min-height: 60vh;
    background-color: aqua;
}


/* H4 */
.h4 {
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: normal;
}

/* H4 End */

/* Pricing */
#section-3 {
    min-height: 60vh;
    margin: auto;
}



/* Pricing END */
#section-4 {
    background-image: url(/img/coverimg-4.jpg);
    min-height: 90vh;
    background-size: cover;
    -webkit-box-shadow: 14px 21px 27px -15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 14px 21px 27px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 14px 21px 27px -15px rgba(0, 0, 0, 0.3);
   
}

/* section-5 */

.contact {
    padding-top: 60px;
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: normal;
}

#section-5 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #85a5c7;
    padding: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 14px 21px 27px -15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 14px 21px 27px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 14px 21px 27px -15px rgba(0, 0, 0, 0.3);
}

.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.submit {
    width: 170px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
}

.submit:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
    transition: 0.1s;
}


.submit:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
}

label {
    font-size: 24px;
}

input {
    height: 30px;
    margin: 10px;
    width: 400px;
    border-radius: 5px;
    outline: none;
}


/* Contact us - end*/
.container {
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    min-height: 390px;
    background-color: #000033;
}

.links{
    display: flex;
    min-height: 360px;
}

.links-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: 0px 40px;
    min-height: 250px;
}

.footer-item{
   font-size: 25px;
}

.span-text{
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
    color: white;
}
.right {
    text-align: center;
    color: white;
    font-size: 1.3rem;
}

/* footer-End */