*{
    margin: 0;
    padding: 0;
}

header{
    min-height: 90px;
    background-color: #0033;
}

ul{
    list-style-type: none;
}



#section-1, #section-2, #section-3{
    min-height: 60vh;
    background-color: aqua;
}